*{
	padding: 0;
	margin: 0;
	box-sizing: border-box; 
}
*:focus{
    outline: none;
}
a{
    text-decoration: none;
}
body{
	font: 14px/18px Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
    color: #333;
    background: #f0f0f0;
    outline: none;
}
[class^="icon-"], [class*="icon-"] {
    background-image: url(../img/icon/icondesktop2022@1x_edit.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
}
header{
    position: absolute;
    top: 0;
    min-width: 1024px;
    background: #fed700;
    width: 100%;
    height: 55px;
    z-index: 3;
}
.wrap-main {
    max-width: 1200px;
    min-width: 1024px;
    width: 100%;
    height: 55px;
    background: #000;
    margin: auto;
    position: relative;
    display: block;
}
.logo{
    float: left;
    width: 170px;
    display: block;
    padding: 14px 0 11px 5px;
}
.icon-logo {
    background-position: 0 0;
    width: 156px;
    height: 30px;
    display: block;
    margin: auto;
}
#search-site {
    float: left;
    width: 230px;
    height: 35px;
    margin: 10px 10px 0 10px;
    background: #fff;
    position: relative;
    border-radius: 4px;
}
.topinput {
    float: left;
    width: 162px;
    margin-left: 8px;
    padding-top: 7px;
    border: 0;
    position: relative;
    background: #fff;
    height: 30px;
    text-indent: 10px;
    font-size: 13px;
}
.topinput,.btntop:focus{
	outline: none
}
.btntop {
    float: right;
    width: 40px;
    height: 35px;
    border: 0;
    background: none;
}
.icon-topsearch {
    background-position: -160px 0;
    width: 20px;
    height: 20px;
    display: block;
    margin: 1px auto 0;
}
nav{
    width: 780px;
    background: #fed700;
    margin: 0;
    padding: 0;
    display: table;
}
nav a{
    display: table-cell;
    width: 75px;
    height: 44px;
    padding: 3px 0 4px;
    color: #000;
    background: #fed700;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
nav a.mobile{
    width: 77px;
}
nav a.laptop{
    width: 73px;
}
nav a.tablet{
    width: 78px;
}
nav a.phukien{
    width: 68px;
}
nav a.smartwatch{
    width: 73px;
}
nav a.maydoitra{
    width: 78px;
}
nav a.news{
    width:74px;
}
nav a.ask{
    width: 69px;
}
nav a.gameapp {
    width: 79px;
    height: 43px;
}
nav a.account{
    width: 110px;
    height: 35px;
    text-align: center;
    border-left: 1px solid rgba(0,0,0,.1);
}
.icon-account{
    background-image: url(../img/icon/account.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 23px;
    display: block;
    line-height: 25px;
    vertical-align: middle;
    margin: auto;
}
.icon-mobile {
    background-position: -190px 0;
    width: 16px;
    height: 25px;
    display: block;
    margin: 2px auto 3px;
}
.icon-tablet {
    background-position: -209px 0;
    display: block;
    margin: 0 auto 5px;
    width: 33px;
    height: 22px;
}
.icon-laptop {
    background-position: -245px 0;
    display: block;
    margin: 0 auto 5px;
    width: 39px;
    height: 21px;
}
.icon-phukien {
    background-position: -288px 0;
    display: block;
    margin: 0 auto 5px;
    width: 22px;
    height: 22px;
}
.icon-watch {
    background-position: -362px -50px;
    display: block;
    margin: 0 auto 0;
    width: 16px;
    height: 27px;
}
.icon-maydoitra {
    background-position: -315px 0;
    display: block;
    margin: 0 auto 4px;
    width: 34px;
    height: 26px;
}
nav a span {
    display: block;
    position: absolute;
    top: 9px;
    width: 23px;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 11px;
}
.icon-news {
    display: block;
    margin: 0 auto 2px;
    background-position: -428px -50px;
    width: 28px;
    height: 25px;
}
.icon-ask {
    background-position: -410px 0;
    display: block;
    margin: 0 auto 3px;
    width: 25px;
    height: 25px;
}
.icon-gameapp {
    background-position: -462px -52px;
    display: block;
    margin: 0 auto 5px;
    height: 20px;
    width: 32px;
}
#utility-cardsim {
    width: 111px;
    padding: 15px 5px 4px;
    color: #000;
    background: #fed700;
    background-color: #fed700;
    font-size: 13px;
    text-align: center;
    display: inline-block;
    border-left: 1px solid rgba(0,0,0,.1);
    position: relative;
    cursor: pointer;
}
.mix-menu {
    position: absolute;
    right: 0;
    display: none;
    width: 100%;
    margin-top: 3px;
}
.mix-menu a {
    display: block;
    width: 100%;
    height: 44px;
    padding: 6px 0 4px;
    color: #000;
    background: #fed700;
    font-size: 13px;
    text-align: center;
    position: relative;
    border-top: 1px solid rgba(0,0,0,.1);
    text-transform: none;
}
.mix-menu a.cardsim {
    line-height: 44px;
}
nav a:hover{
    background: #f5f5f5;
}
nav #utility-cardsim:hover{
    background: #f5f5f5;
}
section{
    margin: 65px auto 0;    
    max-width: 1200px;
    width: 100%;
    min-width: 980px;
    position: relative;
}
.clr{
    clear: both;
}