@import "../../css/style.css";
body{
	background: #fff;
}
nav a.actmenu{
	background: #f5f5f5;
}
.filter {
    padding: 10px 0;
}
.brand{
    padding: 0 0 11px 1px;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.filter .brand a {

	display: block;
    border: 1px solid #eee;
    height: 42px;
    width: 12.42%;
    line-height: 40px;
    position: relative;
    color: #288ad6;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}
.filter .brand a img{
    max-height: 70%;
    vertical-align: middle;
    margin: auto;
}
h1.h1 {
    display: block;
    font-weight: bold;
    line-height: 50px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #fff;
    border-top: 1px solid #eee;
    clear: both;
}
.viewmore {
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
    line-height: 40px;
    font-size: 14px;
    color: #288ad6;
    border: 1px solid #eee;
    text-align: center;
    border-radius: 3px;
    margin: 10px auto 20px;
    width: 240px;
}
.viewmore:after {
    content: '';
    width: 0;
    right: 0;
    border-top: 6px solid #288ad6;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 5px;
}
.viewmore:hover{
    background: #288ad6;
    border-color: #288ad6;
    color: #fff
}
.viewmore:hover:after {
    border-top: 6px solid #fff;
}