@import "../../css/style.css";
body{
	background: #fff;
}
nav a.actmenu{
	background: #f5f5f5;
}
.filter {
    padding: 10px 0;
}
.brand{
    padding: 0 0 11px 1px;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.filter .brand a {
	display: block;
    border: 1px solid #eee;
    height: 50px;
    line-height: 40px;
    position: relative;
    color: #288ad6;
    text-align: center;
}
h1.h1 {
    display: block;
    font-weight: bold;
    line-height: 50px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #fff;
    border-top: 1px solid #eee;
    clear: both;
}
.homeproduct{
	background: #fff;
	display: flex;
	flex-flow: row wrap;
	border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    margin-bottom: 15px;
}
.homeproduct .item {
    position: relative;
    width: 19.91%;
    overflow: hidden;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}